<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <title>{{title}}</title>
    </head>
    <body>
        <header>
            {% if current_user.is_authenticated %}
                <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
            {% else %}
                <p>
                    <a class="btn btn-primary" href="/register">Зарегистрироваться</a>
                    <a class="btn btn-success" href="/login">Войти</a>
                </p>
            {% endif %}
                    <link href="static/css/style.css" type="text/css" rel="stylesheet">
            <p class="effect">FileMaster</p>
            {% if current_user.is_authenticated %}
                {% for file in files %}
                    <p>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                          <div onclick="window.location.href = '/download/{{ file.id }}'"
                               class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary">{{ file.filename }}</button>

                          </div>
                          <div onclick="window.location.href = '/delete/{{ file.id }}'"
                               class="btn-group mr-2" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-danger">
                                <img src="static/img/delete_btn.png" alt="Удалить" style="width: 23px; height: 23px;">
                                </button>
                          </div>
                    {% if ".txt" in file.filename %}
                          <div onclick="window.location.href = '/conversion/{{ file.id}}'"
                               class="btn-group mr-2" role="group" aria-label="Third group">
                               <button type="button" class="btn btn-danger">
                                <img src="static/img/delete_btn.png" alt="Конвертировать в" style="width: 23px; height: 23px;">
                                </button>
                          </div>
                          <select name="format" id="format-select">
                              <option value="PDF">PDF</option>
                          </select>
                    {% endif %}
                        </div>
                    </p>
                {% endfor %}
            {% endif %}
            {% if current_user.is_authenticated %}
                <a class="btn btn-success" href="/upload">Загрузить файл</a>
            {% endif %}
            <svg height="width">
              <filter id="filter">

                <!-- faking background-clip:text -->
                <feImage xlink:href="http://www.css3create.com/squelettes/images/articles/grass-texture.jpg" width="450" height="450" />
                <feTile />
                <feComposite in2="SourceGraphic" operator="in" result="r1"/>

                <!-- add an outer shadow -->
                <feFlood in="sourceAlpha" flood-color="rgba(0,0,0,.9)" />
                <feComposite in2="SourceAlpha" operator="in" />
                <feGaussianBlur stdDeviation="3"/>
                <feOffset dx="0" dy="6" result="r2"/>

                <!-- merge -->
                <feMerge>
                  <feMergeNode in="r2"/>
                  <feMergeNode in="r1"/>
                </feMerge>

              </filter>
            </svg>
        </header>
        </body>
</html>